Proyecto_fase1/Servidor/App_WebReferences/ServiceReference2/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://hola" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://hola" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://hola">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Prueba">
        <s:complexType />
      </s:element>
      <s:element name="PruebaResponse">
        <s:complexType />
      </s:element>
      <s:element name="nivel1">
        <s:complexType />
      </s:element>
      <s:element name="nivel1Response">
        <s:complexType />
      </s:element>
      <s:element name="nivel2">
        <s:complexType />
      </s:element>
      <s:element name="nivel2Response">
        <s:complexType />
      </s:element>
      <s:element name="nivel3">
        <s:complexType />
      </s:element>
      <s:element name="nivel3Response">
        <s:complexType />
      </s:element>
      <s:element name="nivel4">
        <s:complexType />
      </s:element>
      <s:element name="nivel4Response">
        <s:complexType />
      </s:element>
      <s:element name="CargaMaestra">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargaMaestraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CargaMaestraResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="aNivel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pieza" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="aNivelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="aNivelResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crearPng">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crearPngResponse">
        <s:complexType />
      </s:element>
      <s:element name="crearDot">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuerpo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crearDotResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="PruebaSoapIn">
    <wsdl:part name="parameters" element="tns:Prueba" />
  </wsdl:message>
  <wsdl:message name="PruebaSoapOut">
    <wsdl:part name="parameters" element="tns:PruebaResponse" />
  </wsdl:message>
  <wsdl:message name="nivel1SoapIn">
    <wsdl:part name="parameters" element="tns:nivel1" />
  </wsdl:message>
  <wsdl:message name="nivel1SoapOut">
    <wsdl:part name="parameters" element="tns:nivel1Response" />
  </wsdl:message>
  <wsdl:message name="nivel2SoapIn">
    <wsdl:part name="parameters" element="tns:nivel2" />
  </wsdl:message>
  <wsdl:message name="nivel2SoapOut">
    <wsdl:part name="parameters" element="tns:nivel2Response" />
  </wsdl:message>
  <wsdl:message name="nivel3SoapIn">
    <wsdl:part name="parameters" element="tns:nivel3" />
  </wsdl:message>
  <wsdl:message name="nivel3SoapOut">
    <wsdl:part name="parameters" element="tns:nivel3Response" />
  </wsdl:message>
  <wsdl:message name="nivel4SoapIn">
    <wsdl:part name="parameters" element="tns:nivel4" />
  </wsdl:message>
  <wsdl:message name="nivel4SoapOut">
    <wsdl:part name="parameters" element="tns:nivel4Response" />
  </wsdl:message>
  <wsdl:message name="CargaMaestraSoapIn">
    <wsdl:part name="parameters" element="tns:CargaMaestra" />
  </wsdl:message>
  <wsdl:message name="CargaMaestraSoapOut">
    <wsdl:part name="parameters" element="tns:CargaMaestraResponse" />
  </wsdl:message>
  <wsdl:message name="aNivelSoapIn">
    <wsdl:part name="parameters" element="tns:aNivel" />
  </wsdl:message>
  <wsdl:message name="aNivelSoapOut">
    <wsdl:part name="parameters" element="tns:aNivelResponse" />
  </wsdl:message>
  <wsdl:message name="crearPngSoapIn">
    <wsdl:part name="parameters" element="tns:crearPng" />
  </wsdl:message>
  <wsdl:message name="crearPngSoapOut">
    <wsdl:part name="parameters" element="tns:crearPngResponse" />
  </wsdl:message>
  <wsdl:message name="crearDotSoapIn">
    <wsdl:part name="parameters" element="tns:crearDot" />
  </wsdl:message>
  <wsdl:message name="crearDotSoapOut">
    <wsdl:part name="parameters" element="tns:crearDotResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Prueba">
      <wsdl:input message="tns:PruebaSoapIn" />
      <wsdl:output message="tns:PruebaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="nivel1">
      <wsdl:input message="tns:nivel1SoapIn" />
      <wsdl:output message="tns:nivel1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="nivel2">
      <wsdl:input message="tns:nivel2SoapIn" />
      <wsdl:output message="tns:nivel2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="nivel3">
      <wsdl:input message="tns:nivel3SoapIn" />
      <wsdl:output message="tns:nivel3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="nivel4">
      <wsdl:input message="tns:nivel4SoapIn" />
      <wsdl:output message="tns:nivel4SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CargaMaestra">
      <wsdl:input message="tns:CargaMaestraSoapIn" />
      <wsdl:output message="tns:CargaMaestraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="aNivel">
      <wsdl:input message="tns:aNivelSoapIn" />
      <wsdl:output message="tns:aNivelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="crearPng">
      <wsdl:input message="tns:crearPngSoapIn" />
      <wsdl:output message="tns:crearPngSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="crearDot">
      <wsdl:input message="tns:crearDotSoapIn" />
      <wsdl:output message="tns:crearDotSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://hola/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Prueba">
      <soap:operation soapAction="http://hola/Prueba" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nivel1">
      <soap:operation soapAction="http://hola/nivel1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nivel2">
      <soap:operation soapAction="http://hola/nivel2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nivel3">
      <soap:operation soapAction="http://hola/nivel3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nivel4">
      <soap:operation soapAction="http://hola/nivel4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargaMaestra">
      <soap:operation soapAction="http://hola/CargaMaestra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aNivel">
      <soap:operation soapAction="http://hola/aNivel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearPng">
      <soap:operation soapAction="http://hola/crearPng" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearDot">
      <soap:operation soapAction="http://hola/crearDot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://hola/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Prueba">
      <soap12:operation soapAction="http://hola/Prueba" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nivel1">
      <soap12:operation soapAction="http://hola/nivel1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nivel2">
      <soap12:operation soapAction="http://hola/nivel2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nivel3">
      <soap12:operation soapAction="http://hola/nivel3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nivel4">
      <soap12:operation soapAction="http://hola/nivel4" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargaMaestra">
      <soap12:operation soapAction="http://hola/CargaMaestra" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aNivel">
      <soap12:operation soapAction="http://hola/aNivel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearPng">
      <soap12:operation soapAction="http://hola/crearPng" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearDot">
      <soap12:operation soapAction="http://hola/crearDot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:52355/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:52355/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>